// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.mainbody {
  background-image: url('../images/planeBackground.jpg');
  background-size: cover;
}

.otherbody {
  background-image: none;
}

#mainnav{
  padding-left: 20px;
}